@import "tailwindcss";

/* Define color variables */
:root {
  --color-bg-light: #f2f2f2;
  --color-bg-dark: #131313;
  --color-text-light: #272727;
  --color-text-dark: #dddede;
}

* {
  box-sizing: border-box;
}

/* Dark mode class sets the dark colors */
.dark {
  --color-bg-light: #111112;
  --color-text-light: #e2e8f0;
}


.dash-root {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-main-box {
  height: 95%;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Li-items {
  width: 98%;
  border: 1px solid rgb(210, 210, 210);
}

.dark .Li-items {
  border: 1px solid rgba(57, 56, 56, 0.495);
}

.left-inner-box {
  height: 95%;
  width: 98%;
  border-right: 1px solid rgba(99, 99, 99, 0.343);
}

.add-task-box {
  overflow-y: scroll;
  height: 82%;
  width: 95%;
  margin-left: 40px;
}


.add-task-box::-webkit-scrollbar {
  width: 5px;
}

.add-task-box:hover::-webkit-scrollbar {
  width: 5px;
}

.add-task-box::-webkit-scrollbar-thumb {
  background-color: rgb(226, 227, 227);
}

.dark .add-task-box::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.362);
}

.input-task {
  width: 92%;
  border-bottom: 1px solid #bebebe;
}

.dark .input-task {
  border-bottom: 1px solid #272727;
}

.add-task-box input:focus {
  border-bottom: 1px solid #6759ff79;
}

.boxShadow {
  border: 0.5px solid rgb(219, 219, 219);
  box-shadow: 1px 2px 8px 1px rgba(56, 56, 56, 0.1);
}

.dark .boxShadow {
  border: none;
  box-shadow: 2px 1px 4px 2px rgba(209, 209, 209, 0.1);
}

.left-box {
  width: 65%;
  height: 100%;
}

.left-box h3{
  margin: 20px;
}

.right-box {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pomodoro {
  height: 40%;
  width: 80%;
  display: flex;
}

.task-text {
  width: 90%;
}

.task-text span {
  width: 80%;
}

/* Music */

.dash-music {
  width: 80%;
  height: 25%;
  padding: 5px;
}

.dash-progress {
  width: 80%;
  height: 27%;
  padding: 5px;
}

.music-main-box {
  width: 95%;
}

.musicH1 {
  width: 80%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.392);
}


/* Responsive */

@media (max-width:1040px) {
  .left-box {
    width: 58%;
  }

  .right-box {
    width: 42%
  }

  nav{
    height: 80px;
  }

  .music-main-box h2 {
    font-size: 23px;
  }
}

@media (min-height:1023px) and (max-height:1367px) {
  .dash-root {
    overflow: scroll;
  }

  nav {
    height: 8%;
  }
}

@media (max-width: 480px) {
  .dash-root {
    height: auto;
    overflow-y: auto;
  }

  .dash-main-box {
    height: auto;
    display: block;
    overflow-y: auto;
  }

  .left-box {
    width: 90%;
    height: 540px;
    border-bottom: 1px solid gray;
    border-right: none;
    padding-bottom: 10px;
    margin: 15px;
  }

  .right-box {
    width: 90%;
    height: auto;
  }

  .add-task-box {
    padding: 5px;
    margin-left: 10px;
    height: 76%;
  }

  .quote-box{
    padding: 10px;
    height: 90px;
  }

  .left-inner-box {
    border-right: none;
  }

}