@import "tailwindcss";

/* Define color variables */
:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: #131313;
  --color-text-light: #414142;
  --color-text-dark: #d8dadc;
}

/* Dark mode class sets the dark colors */
.dark {
  --color-bg-light: #111112;
  --color-text-light: #e2e8f0;
}


.logo {
  width: 150px;
}

.profile-logo {
  width: 24px;
  margin-right: 8px;
}

nav {
  height: 12%;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px 2px 10px 0px rgba(190, 190, 190, 0.75);
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.dark nav {
  box-shadow: 0px 3px 10px 0px rgba(49, 49, 49, 0.75);
}

.profile-btn {
  background-color: #9f9f9f2d;
  padding: 7px 10px;
  font-weight: 500;
  border-radius: 7px;
}

.profile-icon {
  display: none;
  background-color: #9f9f9f2d;
  padding: 3px 0px 3px 7px;
  border-radius: 20px;
}

/* Responsive */

@media (max-width: 1040px) {
  nav {
    height: 80px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 120px;
  }

  .signin-btn {
    font-size: 12px;
    padding: 6px 11px;
  }

  nav {
    height: 60px;
    padding-top: 6px;
  }

  .profile-btn {
    font-size: 14px;
  }

  .profile-btn {
    display: none;
  }

  .profile-icon {
    display: block;
  }

}